{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block head %}
<link href="{% static 'css/user.css' %}" rel="stylesheet">
{% endblock head %}

{% block main %}
<div class="cover">
    <h1 class="logo">{{title}}</h1>
    {% if tips %}
    <div class="tips">{{tips}}</div>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        <div class="form-item">
            <div class="form-label">Old :</div>
            <input type="password" name="oldpassword"></div>
        <div class="form-item">
            <div class="form-label">New :</div>
            <input type="password" name="newpassword"></div>

        <button class="btn btn-primary btn-block" type="submit">Submit</button>
    </form>


</div>

{% endblock main %}